.firstContainer {
  justify-content: left;
}

.title {
  color: white;
  font-size: 120px;
  font-family: "Almarai", sans-serif;
  text-align: left;
  margin-top: 30px;
  line-height: 1;
}

.dummyContact1 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 360px;
}
.dummyContact2 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 390px;
}
.dummyContact3 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 420px;
}
.actionBtn {
  justify-content: left;
  width: 100%;
}
.img2 {
  position: absolute;
  width: 35%;
  top: 40%;
  left: 55%;
}
