.firstContainer {
  position: relative;
  justify-content: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #7349ff;
}

.title {
  color: white;
  font-size: 7.5rem;
  font-family: "Almarai", sans-serif;
  text-align: left;
  margin-top: 30px;
  line-height: 1;
}

.dummyContact1 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 360px;
}
.dummyContact2 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 390px;
}
.dummyContact3 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 420px;
}
.actionBtn {
  justify-content: left;
  width: 100%;
}

.img1 {
  position: absolute;
  width: 35%;
  top: 40%;
  left: 55%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .dummyContact1 {
    top: 64.8%;
    left: 30%;
  }
  .dummyContact2 {
    top: 64.8%;
    left: 33%;
  }
  .dummyContact3 {
    top: 64.8%;
    left: 36%;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 6rem;
  }
  .img1 {
    width: 40%;
  }
  .dummyContact1 {
    top: 63%;
    left: 30%;
  }
  .dummyContact2 {
    top: 63%;
    left: 33%;
  }
  .dummyContact3 {
    top: 63%;
    left: 36%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 5rem;
    text-align: center;
  }
  .img1 {
    position: inherit;
    width: 50%;
  }
  .text {
    text-align: center;
  }

  .dummyContact1 {
    position: inherit;
  }
  .dummyContact2 {
    position: inherit;
  }
  .dummyContact3 {
    position: inherit;
  }
  .actionBtn {
    width: 50% !important;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 3rem;
  }
  .text {
    padding-bottom: 5%;
  }
  .firstContainer {
    padding: 0 5%;
  }

  .text {
    position: relative;
    top: 30px;
  }
}
@media (max-width: 396px) {
  .text {
    padding: 5%;
  }
  .actionBtn {
    width: 100% !important;
  }
}

.backgroundCircle {
  margin-bottom: -10%;
}
.arrowBtn {
  width: 14rem;
  height: 14rem;
  background-color: #000319;
  border-width: 0px;
  border-radius: 100%;
}
.downArrow {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: #7349ff;
  padding: 50px;
}
@media (max-width: 1400px) {
  .backgroundCircle {
    margin-bottom: -12%;
  }
}
@media (max-width: 1200px) {
  .backgroundCircle {
    margin-bottom: -15%;
  }
  .downArrow {
    width: 9rem;
    height: 9rem;
  }
}
@media (max-width: 992px) {
  .arrowBtn {
    width: 12rem;
    height: 12rem;
  }
  .downArrow {
    width: 8rem;
    height: 8rem;
  }
}
@media (max-width: 768px) {
  .backgroundCircle {
    margin-bottom: -20%;
  }
}
@media (max-width: 576px) {
  .backgroundCircle {
    margin-bottom: -25%;
  }
  .arrowBtn {
    width: 10rem;
    height: 10rem;
  }
  .downArrow {
    width: 7rem;
    height: 7rem;
    padding: 30px;
  }
}

.secondContainer {
  background-image: linear-gradient(to right, #000319 30%, #010b51 100%);
  padding-top: 150px;
}
.paragraph1 {
  font-size: 1rem;
  line-height: 1.8;
}
span {
  margin-right: 10px;
  margin-left: -10px;
}
.actionBtn2 {
  width: 100% !important;
}

.thirdContainer {
  padding-top: 100px;
  padding-bottom: 10px;
  background-image: linear-gradient(to right, #000319 40%, #010b51 100%);
}
.featureText {
  font-size: large;
  padding-top: 30%;
  padding-right: 28%;
}
.card1 {
  padding: 10px 10px;
  margin: 0 -15px;
}
.card2 {
  padding: 10px 10px;
  margin: 0 -10px;
}
.card3 {
  padding: 10px 10px;
  margin: 0 -15px;
}
.cardImg {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100px;
  height: 80px;
  float: left;
}
.cardText {
  display: inline-flex;
  font-size: small;
  padding-right: 18%;
}

.fourthContainer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(
    to right,
    #12082e 0%,
    #000319 31%,
    #010b51 100%
  );
}
.partnerTitle {
  margin: 20px 0 60px 0;
  text-align: center;
}
.partnerImg {
  width: 200px;
  height: auto;
  margin: 30px 0;
  padding: 15px;
}

.fifthContainer {
  background-image: linear-gradient(
    to right,
    #010b51 0%,
    #12082e 45%,
    #000319 100%
  );
  height: 500px;
}
.tokenmicsBtn {
  margin-top: 60px;
}
.tokenText2 {
  text-align: right;
  line-height: 0;
}
