.firstContainer {
  position: relative;
  justify-content: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #7349ff;
}

.title {
  color: white;
  font-size: 7.5rem;
  font-family: "Almarai", sans-serif;
  text-align: left;
  margin-top: 30px;
  line-height: 1;
}

.dummyContact1 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 360px;
}
.dummyContact2 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 390px;
}
.dummyContact3 {
  width: 45px;
  border-radius: 100%;
  margin-top: 1.5%;
  position: absolute;
  left: 420px;
}
.actionBtn {
  justify-content: left;
  width: 100%;
}
.img2 {
  position: absolute;
  width: 35%;
  top: 40%;
  left: 55%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .dummyContact1 {
    top: 61.5%;
    left: 30%;
  }
  .dummyContact2 {
    top: 61.5%;
    left: 33%;
  }
  .dummyContact3 {
    top: 61.5%;
    left: 36%;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 6rem;
  }
  .img2 {
    width: 40%;
  }
  .dummyContact1 {
    top: 58%;
    left: 30%;
  }
  .dummyContact2 {
    top: 58%;
    left: 33%;
  }
  .dummyContact3 {
    top: 58%;
    left: 36%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 5rem;
    text-align: center;
  }
  .img2 {
    position: inherit;
    width: 50%;
  }
  .text {
    text-align: center;
  }

  .dummyContact1 {
    position: inherit;
  }
  .dummyContact2 {
    position: inherit;
  }
  .dummyContact3 {
    position: inherit;
  }
  .actionBtn {
    width: 50% !important;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 3rem;
  }
  .text {
    padding-bottom: 5%;
  }
  .firstContainer {
    padding: 0 5%;
  }

  .text {
    position: relative;
    top: 30px;
  }
}
@media (max-width: 396px) {
  .text {
    padding: 5%;
  }
  .actionBtn {
    width: 100% !important;
  }
}

.secondContainer {
  background-color: #000319;
}
.backgroundCircle {
  margin-bottom: -10%;
}
.arrowBtn {
  width: 15rem;
  height: 15rem;
  background-color: #000319;
  border-width: 0px;
  border-radius: 100%;
}
.downArrow {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: #7349ff;
  padding: 18%;
}
