.dropdownToggle {
  background-color: #010b51;
  background-image: linear-gradient(to left, #010b51 0%, #12082e 100%);
  font-size: 1.5rem;
  border: none;
  width: 530px;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: bold;
}

.dropdownMenu {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to left, #010b51 0%, #12082e 100%);
  border: none;
}
.dropdownItem {
  white-space: normal;
  color: white;
  background-image: linear-gradient(to left, #010b51 0%, #12082e 100%);
}
.dropdownItem:hover {
  color: white;
}
