.container {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}
.text {
  color: white;
  padding-left: 20px !important;
}
.text:hover {
  color: #7349ff;
}

@media (max-width: 768px) {
  .navbarToggle {
    background-color: #7349ff;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 5% 0;
  }
}
