.container {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}
.text {
  color: white;
  padding-left: 20px !important;
}
.text:hover {
  color: #7349ff;
}
