.App {
  text-align: center;
  background-color: #000319;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
  font-weight: bold;
  margin: 5% 0;
}

p,
h5 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
  line-height: 1.5;
  margin: 5% 0;
}
